In [276]:
# Import dependencies
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
from matplotlib import style
import os
from sklearn.linear_model import LinearRegression

In [277]:
# Read in the data
url_climate_data_complete = 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/Clean/Climate_data_all_variables.csv'
df = pd.read_csv(url_climate_data_complete)
df.head()

,Entity,Code,Year,Annual CO2 emissions (per capita),Renewable electricity per capita (kWh),Renewables (% sub energy),Solar Generation - TWh,Wind Generation - TWh,Hydro Generation - TWh,Geo Biomass Other - TWh
0,Africa,AFR,2000,1.0936,95.341,6.759,0.011941,0.175500,75.245817,2.269063
1,Africa,AFR,2001,1.0645,101.444,6.982,0.014960,0.415580,80.864115,2.335353
2,Africa,AFR,2002,1.0489,101.457,7.219,0.017871,0.443584,85.181468,2.286400
3,Africa,AFR,2003,1.1094,97.575,6.703,0.021329,0.535599,82.872601,2.622400
4,Africa,AFR,2004,1.1603,101.360,6.612,0.025761,0.768281,87.405469,2.978850

In [278]:
df = df.loc[df ['Entity'] == 'Portugal']
df

,Entity,Code,Year,Annual CO2 emissions (per capita),Renewable electricity per capita (kWh),Renewables (% sub energy),Solar Generation - TWh,Wind Generation - TWh,Hydro Generation - TWh,Geo Biomass Other - TWh
420,Portugal,PRT,1989,4.1273,655.356,9.274,0.001010,0.001000,5.819000,0.661000
421,Portugal,PRT,1996,5.1152,1557.132,17.706,0.001000,0.021000,14.761000,1.008000
422,Portugal,PRT,1997,5.3772,1398.586,15.711,0.001000,0.038000,13.105000,1.087000
423,Portugal,PRT,1998,5.8026,1385.347,14.309,0.000800,0.089000,12.983000,1.079600
424,Portugal,PRT,1999,6.5246,840.606,8.518,0.001100,0.123000,7.286000,1.238100
425,Portugal,PRT,2000,6.3802,1249.864,12.295,0.001400,0.168000,11.323000,1.376000
426,Portugal,PRT,2001,6.3109,1522.029,14.750,0.001600,0.256000,14.034000,1.450000
427,Portugal,PRT,2002,6.7157,936.839,9.099,0.001800,0.362000,7.800000,1.569000
428,Portugal,PRT,2003,6.1991,1697.090,16.086,0.002600,0.496000,15.723000,1.484000
429,Portugal,PRT,2004,6.4459,1175.636,11.308,0.002900,0.816000,9.869000,1.631000
430,Portugal,PRT,2005,6.6340,785.079,7.504,0.003800,1.773000,4.731000,1.722000
431,Portugal,PRT,2006,6.1584,1491.060,14.623,0.005000,2.925000,10.919000,1.789000
432,Portugal,PRT,2007,5.9062,1533.129,15.163,0.024000,4.037000,10.027000,2.083000
433,Portugal,PRT,2008,5.6745,1381.743,14.195,0.041000,5.757000,6.799000,2.044000
434,Portugal,PRT,2009,5.3964,1724.810,17.738,0.160000,7.577000,8.285000,2.271000
435,Portugal,PRT,2010,5.0034,2675.524,25.977,0.215000,9.182000,16.148000,2.811000
436,Portugal,PRT,2011,4.9023,2281.116,23.118,0.282000,9.162000,11.536000,3.133000
437,Portugal,PRT,2012,4.7480,1840.151,20.343,0.393000,10.260000,5.622000,3.097000
438,Portugal,PRT,2013,4.6005,2813.896,27.549,0.479140,12.014601,13.730000,3.247583
439,Portugal,PRT,2014,4.6037,3030.267,28.701,0.627317,12.111384,15.569000,3.254380
440,Portugal,PRT,2015,5.0432,2350.423,23.001,0.796155,11.607638,8.660506,3.307567
441,Portugal,PRT,2016,4.8867,3128.166,27.694,0.822000,12.474000,15.723000,3.242000
442,Portugal,PRT,2017,5.3682,2194.678,20.028,0.992000,12.248000,5.897000,3.437000
443,Portugal,PRT,2018,5.0206,2867.536,25.344,1.005000,12.617000,12.393000,3.386000
444,Portugal,PRT,2019,4.6576,2680.376,24.829,1.343000,13.667000,8.818000,3.577000
445,Portugal,PRT,2020,3.9609,2952.914,30.199,1.695000,12.364000,12.439000,4.034000

In [279]:
# Rename Colums Annual CO2 emissions (per capita) and Renewables (% sub energy)
df= df.rename(columns={"Annual CO2 emissions (per capita)":"Emissions","Renewables (% sub energy)":"Renewables","Renewable electricity per capita (kWh)": "Renewable per capita","Solar Generation - TWh": "Solar Generation","Wind Generation - TWh": "Wind Generation","Hydro Generation - TWh": "Hydro Generation","Geo Biomass Other - TWh": "Geo Biomass Other"})
df

,Entity,Code,Year,Emissions,Renewable per capita,Renewables,Solar Generation,Wind Generation,Hydro Generation,Geo Biomass Other
420,Portugal,PRT,1989,4.1273,655.356,9.274,0.001010,0.001000,5.819000,0.661000
421,Portugal,PRT,1996,5.1152,1557.132,17.706,0.001000,0.021000,14.761000,1.008000
422,Portugal,PRT,1997,5.3772,1398.586,15.711,0.001000,0.038000,13.105000,1.087000
423,Portugal,PRT,1998,5.8026,1385.347,14.309,0.000800,0.089000,12.983000,1.079600
424,Portugal,PRT,1999,6.5246,840.606,8.518,0.001100,0.123000,7.286000,1.238100
425,Portugal,PRT,2000,6.3802,1249.864,12.295,0.001400,0.168000,11.323000,1.376000
426,Portugal,PRT,2001,6.3109,1522.029,14.750,0.001600,0.256000,14.034000,1.450000
427,Portugal,PRT,2002,6.7157,936.839,9.099,0.001800,0.362000,7.800000,1.569000
428,Portugal,PRT,2003,6.1991,1697.090,16.086,0.002600,0.496000,15.723000,1.484000
429,Portugal,PRT,2004,6.4459,1175.636,11.308,0.002900,0.816000,9.869000,1.631000
430,Portugal,PRT,2005,6.6340,785.079,7.504,0.003800,1.773000,4.731000,1.722000
431,Portugal,PRT,2006,6.1584,1491.060,14.623,0.005000,2.925000,10.919000,1.789000
432,Portugal,PRT,2007,5.9062,1533.129,15.163,0.024000,4.037000,10.027000,2.083000
433,Portugal,PRT,2008,5.6745,1381.743,14.195,0.041000,5.757000,6.799000,2.044000
434,Portugal,PRT,2009,5.3964,1724.810,17.738,0.160000,7.577000,8.285000,2.271000
435,Portugal,PRT,2010,5.0034,2675.524,25.977,0.215000,9.182000,16.148000,2.811000
436,Portugal,PRT,2011,4.9023,2281.116,23.118,0.282000,9.162000,11.536000,3.133000
437,Portugal,PRT,2012,4.7480,1840.151,20.343,0.393000,10.260000,5.622000,3.097000
438,Portugal,PRT,2013,4.6005,2813.896,27.549,0.479140,12.014601,13.730000,3.247583
439,Portugal,PRT,2014,4.6037,3030.267,28.701,0.627317,12.111384,15.569000,3.254380
440,Portugal,PRT,2015,5.0432,2350.423,23.001,0.796155,11.607638,8.660506,3.307567
441,Portugal,PRT,2016,4.8867,3128.166,27.694,0.822000,12.474000,15.723000,3.242000
442,Portugal,PRT,2017,5.3682,2194.678,20.028,0.992000,12.248000,5.897000,3.437000
443,Portugal,PRT,2018,5.0206,2867.536,25.344,1.005000,12.617000,12.393000,3.386000
444,Portugal,PRT,2019,4.6576,2680.376,24.829,1.343000,13.667000,8.818000,3.577000
445,Portugal,PRT,2020,3.9609,2952.914,30.199,1.695000,12.364000,12.439000,4.034000

In [280]:
# # Compare actual values of the columns
# plt.figure(figsize=(20,20))
# plt.scatter(americas_df.Emissions, americas_df.Renewables)
# plt.xlabel('Renewables')
# plt.ylabel('Emissions')
# plt.show()

In [281]:
# Def input variable
X = df[['Renewables','Solar Generation', 'Wind Generation','Hydro Generation', 'Geo Biomass Other']]

In [282]:
# #formats the data to meet the requirements of the Scikit-learn library
# X = americas_df.Renewables.values.reshape(-1, 1)

In [283]:
id_df =df[['Entity', 'Code','Year','Emissions']]

In [284]:
#examine the first five entries in 
X[:5]

,Renewables,Solar Generation,Wind Generation,Hydro Generation,Geo Biomass Other
420,9.274,0.00101,0.001,5.819,0.6610
421,17.706,0.00100,0.021,14.761,1.0080
422,15.711,0.00100,0.038,13.105,1.0870
423,14.309,0.00080,0.089,12.983,1.0796
424,8.518,0.00110,0.123,7.286,1.2381

In [285]:
# The shape of x , with a single feature
X.shape

(26, 5)

In [286]:
# Assing Target variable
y = df.Emissions

In [287]:
# Create an instance of linear regression model
model = LinearRegression()

In [288]:
# fitting step
model.fit(X, y)

LinearRegression()

In [289]:
#Generate predictions
y_pred = model.predict(X)
print(y_pred.shape)

(26,)

In [290]:
# # Print overall trend
# plt.figure(figsize=(20,20))
# plt.scatter(X, y)
# plt.plot(X, y_pred, color='red')
# plt.xlabel('Renewables %')
# plt.ylabel('Emissions')
# plt.show()

In [291]:
# Obtain the coefficient of determination by calling the model with the score() function, then print the coefficient:
r_sq = model.score(X, y)
print('coefficient of determination:', r_sq)

# Print the Intercept:
print('intercept:', model.intercept_)

# Print the Slope:
print('slope:', model.coef_) 

# # Predict a Response and print it:
# y_pred = model.predict(X)
# print('Predicted response:', y_pred, sep='\n')

coefficient of determination: 0.9197998262358043
intercept: 5.712940687382907
slope: [-0.3571011  -0.21693519  0.06202744  0.27777248  1.31125063]

In [292]:
# Place the preductions in a Df
predictions_df = pd.DataFrame(y_pred, columns = ['Predictions'])
predictions_df

    Predictions
0      4.884123
1      4.813135
2      5.170203
3      5.630474
4      6.325854
5      6.281998
6      6.260804
7      6.709719
8      6.312127
9      6.604813
10     6.714520
11     6.050222
12     6.059975
13     5.560860
14     5.093149
15     5.130816
16     5.277129
17     4.622159
18     4.588667
19     4.670881
20     4.789237
21     5.037284
22     5.250225
23     5.109480
24     4.542604
25     4.072844

In [293]:
# Resetting a dataframe index with .reset_index()
id_df = id_df.reset_index()

In [294]:
# Drop a Pandas Dataframe index with `.reset_index()
id_df = id_df.reset_index(drop=True)

In [295]:
#Drop Index
id_df= id_df.drop(columns= ['index'])

In [296]:
# Resetting a dataframe index with .reset_index()
predictions_df = predictions_df.reset_index()

In [297]:
# Drop a Pandas Dataframe index with `.reset_index()
predictions_df = predictions_df.reset_index(drop=True)

In [298]:
#Drop Index
predictions_df= predictions_df.drop(columns= ['index'])

In [299]:
# Resetting a dataframe index with .reset_index()
X = X.reset_index()

In [300]:
# Drop a Pandas Dataframe index with `.reset_index()
X = X.reset_index(drop=True)

In [301]:
#Drop Index
X= X.drop(columns= ['index'])

In [302]:
X

,Renewables,Solar Generation,Wind Generation,Hydro Generation,Geo Biomass Other
0,9.274,0.001010,0.001000,5.819000,0.661000
1,17.706,0.001000,0.021000,14.761000,1.008000
2,15.711,0.001000,0.038000,13.105000,1.087000
3,14.309,0.000800,0.089000,12.983000,1.079600
4,8.518,0.001100,0.123000,7.286000,1.238100
5,12.295,0.001400,0.168000,11.323000,1.376000
6,14.750,0.001600,0.256000,14.034000,1.450000
7,9.099,0.001800,0.362000,7.800000,1.569000
8,16.086,0.002600,0.496000,15.723000,1.484000
9,11.308,0.002900,0.816000,9.869000,1.631000
10,7.504,0.003800,1.773000,4.731000,1.722000
11,14.623,0.005000,2.925000,10.919000,1.789000
12,15.163,0.024000,4.037000,10.027000,2.083000
13,14.195,0.041000,5.757000,6.799000,2.044000
14,17.738,0.160000,7.577000,8.285000,2.271000
15,25.977,0.215000,9.182000,16.148000,2.811000
16,23.118,0.282000,9.162000,11.536000,3.133000
17,20.343,0.393000,10.260000,5.622000,3.097000
18,27.549,0.479140,12.014601,13.730000,3.247583
19,28.701,0.627317,12.111384,15.569000,3.254380
20,23.001,0.796155,11.607638,8.660506,3.307567
21,27.694,0.822000,12.474000,15.723000,3.242000
22,20.028,0.992000,12.248000,5.897000,3.437000
23,25.344,1.005000,12.617000,12.393000,3.386000
24,24.829,1.343000,13.667000,8.818000,3.577000
25,30.199,1.695000,12.364000,12.439000,4.034000

In [303]:
#Join Entity, code, year, emissions columns to predictions
predictions_df = id_df.join(predictions_df)

In [304]:
#Join predictions to input data
final_df = predictions_df.join(X)
final_df

,Entity,Code,Year,Emissions,Predictions,Renewables,Solar Generation,Wind Generation,Hydro Generation,Geo Biomass Other
0,Portugal,PRT,1989,4.1273,4.884123,9.274,0.001010,0.001000,5.819000,0.661000
1,Portugal,PRT,1996,5.1152,4.813135,17.706,0.001000,0.021000,14.761000,1.008000
2,Portugal,PRT,1997,5.3772,5.170203,15.711,0.001000,0.038000,13.105000,1.087000
3,Portugal,PRT,1998,5.8026,5.630474,14.309,0.000800,0.089000,12.983000,1.079600
4,Portugal,PRT,1999,6.5246,6.325854,8.518,0.001100,0.123000,7.286000,1.238100
5,Portugal,PRT,2000,6.3802,6.281998,12.295,0.001400,0.168000,11.323000,1.376000
6,Portugal,PRT,2001,6.3109,6.260804,14.750,0.001600,0.256000,14.034000,1.450000
7,Portugal,PRT,2002,6.7157,6.709719,9.099,0.001800,0.362000,7.800000,1.569000
8,Portugal,PRT,2003,6.1991,6.312127,16.086,0.002600,0.496000,15.723000,1.484000
9,Portugal,PRT,2004,6.4459,6.604813,11.308,0.002900,0.816000,9.869000,1.631000
10,Portugal,PRT,2005,6.6340,6.714520,7.504,0.003800,1.773000,4.731000,1.722000
11,Portugal,PRT,2006,6.1584,6.050222,14.623,0.005000,2.925000,10.919000,1.789000
12,Portugal,PRT,2007,5.9062,6.059975,15.163,0.024000,4.037000,10.027000,2.083000
13,Portugal,PRT,2008,5.6745,5.560860,14.195,0.041000,5.757000,6.799000,2.044000
14,Portugal,PRT,2009,5.3964,5.093149,17.738,0.160000,7.577000,8.285000,2.271000
15,Portugal,PRT,2010,5.0034,5.130816,25.977,0.215000,9.182000,16.148000,2.811000
16,Portugal,PRT,2011,4.9023,5.277129,23.118,0.282000,9.162000,11.536000,3.133000
17,Portugal,PRT,2012,4.7480,4.622159,20.343,0.393000,10.260000,5.622000,3.097000
18,Portugal,PRT,2013,4.6005,4.588667,27.549,0.479140,12.014601,13.730000,3.247583
19,Portugal,PRT,2014,4.6037,4.670881,28.701,0.627317,12.111384,15.569000,3.254380
20,Portugal,PRT,2015,5.0432,4.789237,23.001,0.796155,11.607638,8.660506,3.307567
21,Portugal,PRT,2016,4.8867,5.037284,27.694,0.822000,12.474000,15.723000,3.242000
22,Portugal,PRT,2017,5.3682,5.250225,20.028,0.992000,12.248000,5.897000,3.437000
23,Portugal,PRT,2018,5.0206,5.109480,25.344,1.005000,12.617000,12.393000,3.386000
24,Portugal,PRT,2019,4.6576,4.542604,24.829,1.343000,13.667000,8.818000,3.577000
25,Portugal,PRT,2020,3.9609,4.072844,30.199,1.695000,12.364000,12.439000,4.034000

In [305]:
# Convert Df to CSV
final_df.to_csv('Resources/final.csv')