In [6]:
## Pre-requisites
# pip install boto
# pip install fsspec
# pip install s3fs
# pip install psycopg2

In [30]:
import os
import boto
import pandas as pd
import psycopg2

## Extract data from URL

In [55]:
url_co2 = 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/co-emissions-per-capita.csv'
c02_emissions_df = pd.read_csv(url_co2, index_col=0, sep=',')

In [56]:
c02_emissions_df.head(5)

            Code  Year  Annual CO2 emissions (per capita)
Entity
Afghanistan  AFG  1949                             0.0019
Afghanistan  AFG  1950                             0.0109
Afghanistan  AFG  1951                             0.0117
Afghanistan  AFG  1952                             0.0115
Afghanistan  AFG  1953                             0.0132

In [58]:
#renewable_energy_df = pd.read_csv('https://project-team6-bucket.s3.us-east-2.amazonaws.com/renewable-share-energy.csv')
url_energy = 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/renewable-share-energy.csv'
renewable_energy_df = pd.read_csv(url_energy, index_col=0, sep=',')

In [59]:
renewable_energy_df.head(5)

       Code  Year  Renewables (% sub energy)
Entity
Africa  NaN  1965                      5.526
Africa  NaN  1966                      5.862
Africa  NaN  1967                      6.069
Africa  NaN  1968                      6.730
Africa  NaN  1969                      7.669

## Connect to SqlAlchemy and write each DataFrame to its table.

In [25]:
# Configure settings for RDS
from getpass import getpass
password = getpass('Enter database password')
database = "db-turn-green"
username = "postgres"
hostname = "db-turn-green.cp9vtji419xj.us-east-2.rds.amazonaws.com"

Enter database password········

In [31]:
# Write renewable_share_energy_df to table in RDS
from sqlalchemy import create_engine
engine = create_engine("postgresql://{}:{}@{}:5432/{}".format(username, password, hostname, database))

In [42]:
renewable_energy_df.to_sql('renewable_share_energy', engine)

In [38]:
c02_emissions_df.to_sql('co2_emissions_per_capita', engine)