In [6]:
## Pre-requisites
# pip install boto
# pip install fsspec
# pip install s3fs
# pip install psycopg2

In [30]:
import os
import boto
import pandas as pd
import psycopg2

## Extract datasets from URL

### Annual CO2 emissions (per capita) vs Renewable Energy per capita

This clean data set is the result of the merge of two files:
* 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/co-emissions-per-capita.csv'
* 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/renewable-share-energy.csv'

In [24]:
url_climate = 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/Clean/Climate_data_complete_(no_null_values).csv'
climate_co2_re_df = pd.read_csv(url_climate)
climate_co2_re_df.head(3)

,Unnamed: 0,Entity,Code,Year,Annual CO2 emissions (per capita),Renewables (% sub energy)
0,0,Africa,AFR,1965,0.6750,5.526
1,1,Africa,AFR,1966,0.6814,5.862
2,2,Africa,AFR,1967,0.7124,6.069

### Annual CO2 emissions (per capita) vs Renewable electricity per capita

This clean data set is the result of the merge of two files:
* 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/co-emissions-per-capita.csv'
* 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/renewable-electricity-per-capita.csv'

In [29]:
url_co2_elect = 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/Clean/Climate_data_complete_per_capita.csv'
climate_co2_elect_df = pd.read_csv(url_co2_elect)
climate_co2_elect_df.head(3)

,Unnamed: 0,Entity,Code,Year,Annual CO2 emissions (per capita),Renewable electricity per capita (kWh)
0,0,Afghanistan,AFG,2000,0.0365,14.918
1,1,Afghanistan,AFG,2001,0.0369,23.141
2,2,Afghanistan,AFG,2002,0.0465,24.778

### Annual CO2 emissions (per capita) vs Renewable Energy Generation

This clean data set is the result of the merge of two files:
* 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/co-emissions-per-capita.csv'
* 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/renewable-energy-gen.csv'

In [30]:
url_co2_re_gen = 'https://raw.githubusercontent.com/Ricardolpz99/Turn-Green/main/Database/Clean/Climate_data_complete_generated.csv'
climate_co2_re_gen_df = pd.read_csv(url_co2_re_gen)
climate_co2_re_gen_df.head(3)

,Unnamed: 0,Entity,Code,Year,Annual CO2 emissions (per capita),Solar Generation - TWh,Wind Generation - TWh,Hydro Generation - TWh,Geo Biomass Other - TWh
0,35,Africa,AFR,2000,1.0936,0.011941,0.175500,75.245817,2.269063
1,36,Africa,AFR,2001,1.0645,0.014960,0.415580,80.864115,2.335353
2,37,Africa,AFR,2002,1.0489,0.017871,0.443584,85.181468,2.286400

## Load to AWS RDS

In [27]:
# Configure settings for RDS
from getpass import getpass
password = getpass('Enter database password')
database = "db-turn-green"
username = "postgres"
hostname = "db-turn-green.cp9vtji419xj.us-east-2.rds.amazonaws.com"

Enter database password········

In [28]:
# Write renewable_share_energy_df to table in RDS
from sqlalchemy import create_engine
engine = create_engine("postgresql://{}:{}@{}:5432/{}".format(username, password, hostname, database))

In [33]:
climate_co2_re_df.to_sql('co2_vs_renewable_energy', engine)

In [34]:
climate_co2_elect_df.to_sql('co2_vs_renewable_electricity', engine)

In [35]:
climate_co2_re_gen_df.to_sql('co2_vs_renewable_energy_generation', engine)